body {
  background-color: #f4f3f1;
  width: 100%;
  height: 80%;
}

.navigation {
  display: inline-block;
}

i {
  color: #ff80aa;
}

#title {
  font-family: 'Lucida Handwriting';
  letter-spacing: -2px;
  font-weight: normal;
  font-size: 25px;
}

ul {
  position: absolute;
  right: 25px;
  top: 5px;
}

li {
  display: inline-block;
  padding: 0 15px;
  font-family: Arial;
  font-size: 15px;
  font-weight: 600;
}

li > a {
  text-decoration: none;
  color: #737373;
}

hr {
  width: 95%;
  height: 1px;
  background-color: #737373
}

.sec1 {
  text-align: center;
  font-family: 'Calibri Light';

}

#name {
  color: #ff80aa;
}

.sec1 h1 {
  letter-spacing: 2px;
}

.sec1 h3 {
  font-size: 16px;
}
.sec1 > h1, h3 {
  margin: 0;
}

.image1 img {
  margin: 35px 0;
  height: 300px;
  width: 95%;
  border-radius: 15px;
}

.box1 {
  color:inherit;
  float: left;
  width: 40%;
  margin: 0 0 45px 25px;
}

.box1 h1 {
  text-align: center;
  color: #ff80aa;
  font-family: 'Lucida Handwriting';
}

.box2 h1 {
  text-align: center;
  color: #ff80aa;
  font-family: 'Lucida Handwriting';
}

.box1, .box2 p {
  text-align: left;
  font-family: 'Calibri Light';
  padding: 10px 10px 0 10px;
}

.box2 {
  color: inherit;
  float: right;
  width: 40%;
  margin: 0 55px 45px 0;
}

.container {
  width: 100%;
  margin: 0 25px;

}
.container > .image {
  border-radius: 2px;
}
div.image {
  display: inline-block;
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
  border-radius: 10px;
  background-color: white;
}

div.img=hover {
  border: 1px solid #bbb;

}

div.image img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: left;
}

div.image a {
  text-decoration: none;
  font-family: 'Calibri Light';
  cursor: pointer;
  color: #ff80aa;
}

.header {
  color: #737373;
}

#sec2 {
  position: relative;
  text-align: center;
}

#site-footer {
  width: 99%;
  display: block;
  height: 25%;
  position: absolute;
  padding: 1rem;
  background-color: black;
  color: #ff80aa;
}
